/* banner section */
.banner{
    padding:30px 30px 0px 150px;
    background-color: rgba(229,84,115,0.10);
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content:space-around;
}
.banner .profile-pic{
    width:600px;
}
.heading-title{
    font-size: 80px;
    font-weight: 700;
    color:#272727;
    margin-top: 5px;
    margin-bottom: 20px;
    line-height:70px;
    
}
.banner-container{
    max-width: 500px;
}
.banner-description{
    font-size: 15px;
    font-weight: 300;
    line-height:25px ;
    margin-bottom:20px ;
}
.btn-primary{
    border-radius: 5px;
    background: #E55473;
    border: 0;
    padding: 23px 50px;
    color:white;
    font-size:18px

}
/* main section style */

.featured-flower{
    text-align: center;
}
.Featured{
    font-size: 45px;
    color:#272727;
    font-weight:bold;
    margin-top: 100px;
    margin-bottom: 10px;
}
.pgp-description{
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    color:rgba(39,39,39,0.60);
    margin-bottom: 100px;
    
    
}
.picture-flower{
    display:flex;
   justify-content:space-around;

   
}
 
.pic-png-1{
    background-color: rgba(167,33,98,0.15);
    border-radius: 300px 300px 0px 0px;
   
    
 }
.pic-png-2{
    background: rgba(5,151,160,0.15);
    border-radius: 300px 300px 0px 0px;

}
.pic-png-3{
    background:rgba(71,125,17,0.15);
    border-radius: 300px 300px 0px 0px;
    
}
.head{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-decoration-line: underline;
   
}
.heading-title-1{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}
span{
    color:#E55473;
}
.instagram-title{
    margin-top: 100px;
    margin-bottom: 50px;
}
.description{
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    color:rgba(39,39,39,0.60);
}
.flower-img{
  padding-left: 30px;
}
.featured-flower-1{
    text-align: center;
    gap:30px;
}
.background-image{
    height:500px;
    width:1400px;
    background-image: url('./Flower Asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    margin-left:300px ;
    margin-top: 100px;
    text-align: center;
    padding-top: 150px;
}
.contact{
    display:flex;
    padding-left: 250px;
    gap:5px;
    
}
.email{
    padding:13px 200px;
}
.footer-section{
    text-align: center;
    padding-top: 100px;
   

}
.footer-part{
    background-color: #111010;
    height:450px;
    width:1800px;
    color:#fff;
    margin-bottom:200px;
    margin-left: 100px;
}
.head-section{
    font-size:15px;
}
